{% extends "layouts/base.html" %}

{% block content %}

<div class="d-flex justify-content-center align-items-center pt-5 pb-5">
    <h1 class="text-center">
        Projects
    </h1>
</div>

<div >
    <div class="row d-flex justify-content-center mb-2">
        <div class="col-sm-10 d-flex">
            <a href="{% url 'projects.create' %}" class="btn btn-primary">Create project</a>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        {% for project in projects %}
        <div class="col-sm-10">
            <div class="card shadow-sm mb-3">
                <div class="card-body">
                    <h5 class="card-title p-2">{{ project.name }}</h5>
                    <p class="card-text p-2">
                        {{ project.description }}
                    </p>
                </div>
                <div class="card-footer d-flex">
                    <a class="btn btn-primary m-2" href="{% url 'projects.detail' project.id %}" >Tasks</a>
                    <a class="btn btn-warning m-2" href="{% url 'projects.edit' project.id %}" >Edit</a>
                    <a class="btn btn-danger m-2" href="{% url 'projects.delete' project.id %}" >Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}