{% extends "layouts/base.html" %}

{% block content %}

<div class="d-flex justify-content-center align-items-center pt-5 pb-5">
    <h1 class="text-center">
        Edit project
    </h1>
</div>

<form action="{% url 'projects.update' project.id %}" method="POST" class="pt-5">
    {% csrf_token %}
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ project.name }}">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea type="text" class="form-control" id="description" name="description">{{ project.description }}</textarea>
    </div>
    
    <div class="row">
        <div class="col-sm-12 justify-content-start">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{% url 'projects.list' %}" class="btn btn-warning">Cancel</a>
        </div>
    </div>

</form>

{% endblock %}