{% extends "layouts/base.html" %}

{% block content %}

<div class="d-flex justify-content-center align-items-center pt-5 pb-5">
    <h1 class="text-center">
        Login
    </h1>
</div>
<div>
    <form action="{% url 'login.store' %}" method="POST" class="pt-5">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        
        <div class="row">
            <div class="col-sm-12 justify-content-start">
                <button type="submit" class="btn btn-primary">Login</button>
                <a href="{% url 'landing' %}" class="btn btn-warning">Cancel</a>
            </div>
        </div>
        
    </form>
</div>
{% endblock %}